.container {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  color: #1e2f65;
  align-items: center;
  margin-bottom: 2rem;
}

.headerLeft {
  display: flex;
  flex-direction: column;
}

.breadcrumb {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: #757575;
}

.breadcrumb a {
  color: #1e2f65;
  text-decoration: none;
  transition: color 0.2s ease;
}

.breadcrumb a:hover {
  color: #6362e7;
  text-decoration: underline;
}

.breadcrumb .MuiTypography-root {
  color: #1e2f65;
}
  
  .form input,
  .form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-left: 4px solid #6362e7; 
  }
    
  .formRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  
  .formCol {
    width: 48%; 
  }

  .iconTitle {
    font-size: 1.25rem;
    font-weight: 600;
    color: #1e2f65;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .formInput,
  .formSelect {
    width: 100%;
    padding: 12px;
    margin-bottom: 8px;
    border: 1px solid #aa45fd;
    border-radius: 20px;
    box-sizing: border-box; 
  }
  
  .formLabel {
    display: flex;
    margin-bottom: 8px;
    font-size: 0.875rem;
    font-weight: 500;
    color: #1e2f65;
  }
  .requiredField::after {
    content: "*";
    color: #f44336;
    margin-left: 4px;
  }

  .formSelect {
    height: 44px;
    width: 100%;
    background-color: white;
  }

  .container .button {
    margin-Top: 24px; 
    border-Radius: 20px;
    width: 20%;
    background-Color: #6362e7;
    margin-left: 300px;
  }
